[ycimpute](!https://github.com/OpenIDEA-YunanUniversity/ycimpute/blob/master/doc_eng.md)

In [9]:
import pandas as pd
import numpy as np
from ycimpute.imputer import iterforest

In [5]:
file = '../dataframes/tadolescente_enadis_2017_clean.csv'

In [6]:
df = pd.read_csv(filepath_or_buffer=file)

In [29]:
df.shape

(36192, 41)

In [7]:
df.head()

,Unnamed: 0,pm6_1,pm6_2,pm6_3_1,pm6_3_2,pm6_3_3,pm6_3_4,pm6_3_5,pm8_1_1,pm8_1_2,...,pm8_7_4,pm8_7_5,pm8_7_6,pm8_7_7,pm8_7_8,tloc,estrato,ent,sexo,edad
0,0,1,1,1,1,2,1,1,2,2,...,2,2,2,2,2,1,3,1,1,26
1,1,3,2,2,2,1,1,2,2,2,...,2,2,2,2,2,1,3,1,1,26
2,2,2,7,1,1,2,1,1,2,2,...,2,2,2,2,2,1,3,1,2,28
3,3,2,3,1,1,1,2,1,2,2,...,2,2,2,2,2,1,3,1,2,29
4,4,1,3,2,1,1,2,1,2,2,...,2,2,2,2,2,1,3,1,2,26

In [8]:
df_copy = df.copy()

In [12]:
df_copy.drop(labels=['Unnamed: 0'], axis=1, inplace=True)

In [13]:
df_copy.replace(to_replace=-1, value=np.nan, inplace=True)

In [14]:
no_missingdata = df_copy.columns[(df_copy.isnull().any() != True)].tolist()
no_missingdata

['tloc', 'estrato', 'ent', 'sexo', 'edad']

In [15]:
missingdata = df_copy.columns[df_copy.isnull().any()].tolist()
missingdata

['pm6_1',
 'pm6_2',
 'pm6_3_1',
 'pm6_3_2',
 'pm6_3_3',
 'pm6_3_4',
 'pm6_3_5',
 'pm8_1_1',
 'pm8_1_2',
 'pm8_1_3',
 'pm8_1_4',
 'pm8_1_5',
 'pm8_4_1',
 'pm8_4_2',
 'pm8_4_3',
 'pm8_4_4',
 'pm8_4_5',
 'pm8_6_01',
 'pm8_6_02',
 'pm8_6_03',
 'pm8_6_04',
 'pm8_6_05',
 'pm8_6_06',
 'pm8_6_07',
 'pm8_6_08',
 'pm8_6_09',
 'pm8_6_10',
 'pm8_7_1',
 'pm8_7_2',
 'pm8_7_3',
 'pm8_7_4',
 'pm8_7_5',
 'pm8_7_6',
 'pm8_7_7',
 'pm8_7_8']

## Impute `pm6_1`

In [16]:
column = 'pm6_1'

In [17]:
data_ = no_missingdata
data_

['tloc', 'estrato', 'ent', 'sexo', 'edad']

In [18]:
data_.append(column)

In [19]:
data_

['tloc', 'estrato', 'ent', 'sexo', 'edad', 'pm6_1']

In [21]:
index_na = pd.isnull(df_copy[data_]).any(1).nonzero()[0].tolist()
len(index_na)

358

In [22]:
(len(index_na)/df_copy.shape[0])*100

0.9891688770999116

In [23]:
df_data_ = df_copy[data_]
df_data_.head()

   tloc  estrato  ent  sexo  edad  pm6_1
0     1        3    1     1    26    1.0
1     1        3    1     1    26    3.0
2     1        3    1     2    28    2.0
3     1        3    1     2    29    2.0
4     1        3    1     2    26    1.0

In [24]:
df_data_[column].unique()

array([ 1.,  3.,  2.,  4., nan,  9.])

In [25]:
impute_ = iterforest.IterImput().complete(df_data_.as_matrix())

C:\Users\aniit\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [26]:
impute_

array([[ 1.,  3.,  1.,  1., 26.,  1.],
       [ 1.,  3.,  1.,  1., 26.,  3.],
       [ 1.,  3.,  1.,  2., 28.,  2.],
       ...,
       [ 4.,  2., 32.,  2., 16.,  1.],
       [ 4.,  2., 32.,  1., 16.,  4.],
       [ 4.,  2., 32.,  1., 12.,  2.]])

In [27]:
df_impute_ = pd.DataFrame(impute_)
df_impute_.head()

     0    1    2    3     4    5
0  1.0  3.0  1.0  1.0  26.0  1.0
1  1.0  3.0  1.0  1.0  26.0  3.0
2  1.0  3.0  1.0  2.0  28.0  2.0
3  1.0  3.0  1.0  2.0  29.0  2.0
4  1.0  3.0  1.0  2.0  26.0  1.0

In [28]:
df_impute_.shape

(36192, 6)

In [30]:
df_impute_.isnull().any().any()

False

In [31]:
df_impute_ = df_impute_.astype('int64')

In [32]:
df_impute_.head()

   0  1  2  3   4  5
0  1  3  1  1  26  1
1  1  3  1  1  26  3
2  1  3  1  2  28  2
3  1  3  1  2  29  2
4  1  3  1  2  26  1

In [33]:
df_copy[column] = df_impute_[5]

In [34]:
df_copy[column].unique()

array([1, 3, 2, 4, 9], dtype=int64)

## Impute `pm6_1`

In [35]:
column = 'pm6_2'

In [36]:
data_ = no_missingdata
data_

['tloc', 'estrato', 'ent', 'sexo', 'edad', 'pm6_1']

In [37]:
data_.append(column)

In [38]:
data_

['tloc', 'estrato', 'ent', 'sexo', 'edad', 'pm6_1', 'pm6_2']

In [39]:
index_na = pd.isnull(df_copy[data_]).any(1).nonzero()[0].tolist()
len(index_na)

358

In [40]:
(len(index_na)/df_copy.shape[0])*100

0.9891688770999116

In [41]:
df_data_ = df_copy[data_]
df_data_.head()

   tloc  estrato  ent  sexo  edad  pm6_1  pm6_2
0     1        3    1     1    26      1    1.0
1     1        3    1     1    26      3    2.0
2     1        3    1     2    28      2    7.0
3     1        3    1     2    29      2    3.0
4     1        3    1     2    26      1    3.0

In [42]:
df_data_[column].unique()

array([ 1.,  2.,  7.,  3.,  4.,  5.,  6.,  8., nan])

In [43]:
impute_ = iterforest.IterImput().complete(df_data_.as_matrix())

C:\Users\aniit\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [44]:
impute_

array([[ 1.,  3.,  1., ..., 26.,  1.,  1.],
       [ 1.,  3.,  1., ..., 26.,  3.,  2.],
       [ 1.,  3.,  1., ..., 28.,  2.,  7.],
       ...,
       [ 4.,  2., 32., ..., 16.,  1.,  2.],
       [ 4.,  2., 32., ..., 16.,  4.,  1.],
       [ 4.,  2., 32., ..., 12.,  2.,  5.]])

In [45]:
df_impute_ = pd.DataFrame(impute_)
df_impute_.head()

     0    1    2    3     4    5    6
0  1.0  3.0  1.0  1.0  26.0  1.0  1.0
1  1.0  3.0  1.0  1.0  26.0  3.0  2.0
2  1.0  3.0  1.0  2.0  28.0  2.0  7.0
3  1.0  3.0  1.0  2.0  29.0  2.0  3.0
4  1.0  3.0  1.0  2.0  26.0  1.0  3.0

In [46]:
df_impute_.shape

(36192, 7)

In [47]:
df_impute_.isnull().any().any()

False

In [48]:
df_impute_ = df_impute_.astype('int64')

In [49]:
df_impute_.head()

   0  1  2  3   4  5  6
0  1  3  1  1  26  1  1
1  1  3  1  1  26  3  2
2  1  3  1  2  28  2  7
3  1  3  1  2  29  2  3
4  1  3  1  2  26  1  3

In [50]:
df_copy[column] = df_impute_[6]

In [51]:
df_copy[column].unique()

array([1, 2, 7, 3, 4, 5, 6, 8], dtype=int64)